#virtuel environnement
.rezume/
.venv/
.env
#configuration vs code
.vscode/

# front end
*.py[cod]
.web
assets/external/
*.db
.states
__pycache__/
#fichier cache
__pycache__/

*.pyc
#base de données
data/
*.sqlite3
.idea/

#parametre local
outputs/

# convertisseur latex en python
rezume_miktex/

#gitignore
*.gitignore

#erreurs files
erreur.txt

ev.txt
#fichier qui resume les changements dasn le projets
resumer.txt

