# Core
python-dotenv
requests
tqdm

# LLM & NLP
openai>=1.0.0
transformers>=4.40.0
sentence-transformers
sentencepiece
torch>=2.0.0

# Text Processing
nltk
spacy
beautifulsoup4

# Data Handling
pandas
numpy

# Backend / API
flask
flask-cors

# File parsing
python-docx
PyPDF2

# Orchestration / Agents
langgraph
pydantic
langchain>=0.2.14
langchain-openai>=0.1.6
langchain-mistralai>=0.1.0
langchain-google-genai>=0.1.0
python-dotenv
langchain-core 
pyyaml
openai
tiktoken
Jinja2

# Utils
rich
colorama
loguru

# Tests
pytest
pytest-cov

# Dev tools
black
flake8